<% if @hotel_api %>
  <div class="card-body">
    <h2 class="card-title"><%= @hotel_api[:hotel_name] %></h2>
      <div class="text-xs"><%= @hotel_api[:hotel_special] %></div>
      <strong>住所:</strong> <%= @hotel_api[:address1] %> <%= @hotel_api[:address2] %><br>
      <div class="flex justify-center">
        <div><img src="<%= @hotel_api[:hotel_image] %>"></div><br>
        <div> <img src="<%= @hotel_api[:room_image] %>"></div>
      </div>
      <strong>料金:</strong> <%= @hotel_api[:min_charge] %>円〜<br> 
      <div class="rating rating-sm">
      <strong>口コミ</strong> 平均 <%= @hotel_api[:review_average] %>
        <% 5.times do |i| %>
          <% if i < @hotel_api[:review_average].to_i %>
            <svg class="h-5 w-5 text-orange-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.37 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.176 0l-2.8 2.034c-.785.57-1.84-.197-1.54-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.049 8.719c-.782-.57-.38-1.81.588-1.81h3.462a1 1 0 00.95-.69l1.07-3.292z"/></svg>
          <% else %>
            <svg class="h-5 w-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.37 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.176 0l-2.8 2.034c-.785.57-1.84-.197-1.54-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.049 8.719c-.782-.57-.38-1.81.588-1.81h3.462a1 1 0 00.95-.69l1.07-3.292z"/></svg>
          <% end %>
        <% end %>
        【口コミ数 全<%= @hotel_api[:review_count] %>件】
      </div>

      <% @reviews.each do |review| %>
        <div> <%= review.review_user %> <%= review.review_time %> 
        <a href="<%= review.url%>" class="link link-info" target="_blank">引用元：楽天トラベルお客さまの声</a>
        </div>
          <blockquote> <%= review.review %> </blockquote>
      <% end %>
<div class="divider divider-">予約フォーム</div>
  <div class="flex justify-center">
    <%= form_with scope: :reservation, method: :get, local: false do |f| %>
      <%= f.label :checkin_date, "チェックイン日" %>
      <%= f.date_field :checkin_date, value: Date.today + 30.days %><br>
      <%= f.label :checkout_date, "チェックアウト日" %>
      <%= f.date_field :checkout_date, value: Date.tomorrow + 31.days %><br>
      <%= f.label :adult_num, "人数（大人）" %>
      <%= f.number_field :adult_num, type: :number, value: 2 %><br>
      <%= f.label :infant_with_mb, "人数(幼児(食事・布団付))" %>
      <%= f.number_field :infant_with_mb, type: :number, value: 0%><br>
      <%= f.label :infant_with_m, "人数(幼児(食事のみ))" %>
      <%= f.number_field :infant_with_m, type: :number, value: 0 %><br>
      <%= f.label :infant_with_b, "人数(幼児(布団のみ))" %>
      <%= f.number_field :infant_with_b, type: :number, value: 0 %><br>
      <%= f.label :infant_without_mb, "人数(幼児(食事・布団なし))" %>
      <%= f.number_field :infant_without_mb, type: :number, value: 0 %><br>
      <button class="btn btn-secondary"><%= f.submit "日付/人数を決定", data: { turbo: true, turbo_frame: "rooms-list" } %></button>
    <% end %>

    <div class="card w-96 bg-primary shadow-xl" >  
      <% if @room_info && @room_info["hotels"].present? %>
        <%= turbo_frame_tag "rooms-list" do %>
          <% @room_info["hotels"].each do |hotel| %>
            <% hotel["hotel"].each do |h| %>
              <% h["roomInfo"].each do |info| %>
              <!-- roomBasicInfoの表示 -->
                <br>
                <% if info["roomBasicInfo"].present? %>
                  <div class="font-bold">プラン名: <%= info["roomBasicInfo"]["planName"] %></div>
                  <p>部屋名: <%= info["roomBasicInfo"]["roomName"] %></p>
                  <p>夕食: <%= info["roomBasicInfo"]["withDinnerFlag"] == 1 ? "あり" : "なし" %></p>
                  <p>朝食: <%= info["roomBasicInfo"]["withBreakfastFlag"] == 1 ? "あり" : "なし" %></p>
                  <%= link_to '予約リンク（→楽天トラベルサイト）', info["roomBasicInfo"]["reserveUrl"], class: "link link-info" %>
                <% end %>
                <!-- dailyChargeの表示 -->
                <% if info["dailyCharge"].present? %>
                  <p>宿泊日: <%= info["dailyCharge"]["stayDate"] %></p>
                  <p>合計料金: <%= info["dailyCharge"]["total"] %>円</p>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <%= " " %>
      <% end %>
    </div>
  </div>
<% end %> 
    </div>
  </div> 